/*
*
General
*
*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #6a6a6a; 
}

header,
nav,
footer,
section,
div {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  margin: 0 auto;
  width: 10em;
  height: 1px;
  border: 0;
  border-top: 2px solid #e75152;
}


/*
*
Nav Section
*
*/

header {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
  background-color: #515151;
}

.nav__logo {
  padding: 1em 0;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.nav__item {
  display: inline-block;
  font-size: 1em;
}

.nav__item:first-child {
  padding: 0 2.5em;
}

.nav__item a {
  color: #fff;
}

/*
*
Banner Section
*
*/

.banner {
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,255,255,0.6)), url("images-videos/header_photo.jpg") no-repeat top;
  background-size: cover;
  background-position-y: 65%;
  padding: 8em 0 3em 8em;
  position: relative;
}

.banner__title {
  font-weight: 900;
  color: #e75152;
}

.banner__text {
  font-weight: 400;
  color: #2e2e2e;
  padding: 1em 0;
  max-width: 22em;
}

.banner__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2em;
  padding-left: 1em;
  width: 120px;
  height: 25px;
  border: 2px solid #e75152;
  color: #595858;
  font-weight: 700;
  background: url("images/Vector_down_arrow_link.svg") no-repeat right;
  background-color: rgba(255,255,255,0.5);
  -webkit-appearance:none;
  -moz-appearance:none;
}

/*
*
Description Section
*
*/

.content {
  width: 100%;
  padding: 0 6em;
}

.description {
  width: 100%;
  padding: 2.4em 0;
}

.description p {
  max-width: 100%;
  padding: 1em 1em;
  font-family: Source Sans Pro;
  color: #515151;
  text-align: center;
}


/*
*
Packages Section
*
*/

.packages__heading, .know-more__heading {
  padding: 0.7em 2em;
  border-bottom: 2px solid #e75152;
}

.red-letters {
  color: #e75152;
}

.grey-letters {
  color: #515151;
}

.white-letters {
 color: #fff;
}

.packages {
  padding: 1.5em 2.5em;
}

.brochure_mockup {
  width: 100%;
  height: 10em;
  background-image: url("images/brochure_mockup.png");
  background-repeat: repeat-x;
  background-size: 35%;

}

.packages__types {
  margin: 5em 0;
  padding: 1em 2em;
  background-color: #e75152;
}

.packages__item {
  display: inline-block;
  position: relative;
  width: 25%;
  margin-right: calc(23%/2);
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px #595858;
  background-color: #fff;
}

.packages__item:last-child {
  margin-right: 0;
}

.packages__brochure {
  position: absolute;
  top: -90px;
  right: -90px;
  width: 170%;
}

.packages__area {
  padding-top: 3em;
}

.packages__title {
  padding-left: 1.5em;
  font-weight: 700;
}

.packages__area p {
  line-height: 1.5em;
  font-size: 0.7em;
  font-weight: 400;
  color: #6a6a6a;
  margin: 0;
  padding: 3.5em 2.5em;
}

.packages__area div {
  color: #e75152;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
}

.bold {
  font-weight: 900;
  font-size: 1.4em;
}

.packages__buttons {
  padding: 1.8em 0.5em 1.3em;
}

.buttons {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  font-weight: 700;
  color: #e75152;
  background-color: #fffefe;
  box-shadow: 5px 0 5px -5px #333, 0 5px 5px -5px #333;
  border: 2px solid #e75152;
}

.read-more {
  color: #fffefe;
  background-color: #e75152;
}


/*
*
Know-more Section
*
*/

.know-more {
  width: 100%;
}

.know-more__video {
  display: block;
  margin: 3em auto 2em;
  width: 50%;
  box-shadow: 2px 2px 15px 0px #595858;
}

.know-more p {
  text-align: center;
  font-family: Source Sans Pro;
  color: #515151;
}


/*
*
Contact-us Section
*
*/

.contact-us {
  padding: 2em 0 3em 8em;
  background-color:	#d0172ada;
}

.contact-us__heading {
  font-weight: 700;
}

.contact-us__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em 0 8em;
}

.contact-us__item {
  font-family: Source Sans Pro;
  line-height: 1.7em;
  font-size: 0.7em;
}

.contact-us__item p{
  display: inline-block;
  margin: 0;
  padding-left: 0.5em;
}

.address {
  display: flex;
  padding: 0 4em;
  width: 33.33%;
  order: 1;
}

#container2 {
  align-content: center;
  padding: 0 4em;
  width: 33.33%;
  order: 2;
}

.contact-us__button {
  text-align: center;
  padding: 0 4em;
  width: 33.33%;
  order: 3;
}

.drop-us-button {
  width: 120px;
  background-color: #d72e44;
  color: #fff;
  border-color: #c12c41;
}


/*
*
Social-media Section
*
*/

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 5em;
  background-color: #515151;
  color: #e7e7e7;
  font-size: 0.6em;
}

.social-media__item {
  display: inline-block;
}

.social-media__item a{
  padding-right: 1em;
  color: #e7e7e7;
}

.social-media__list a {
  font-size: 1.5em;
}