/*
*
General
*
*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #6a6a6a; 
}

header,
nav,
footer,
section,
div {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/*
*
Nav Section
*
*/

header {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
  background-color: #515151;
}

.nav__logo {
  padding: 1em 0;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.nav__item {
  display: inline-block;
  font-size: 1em;
}

.nav__item:first-child {
  padding: 0 2.5em;
}

.nav__item a {
  color: #fff;
}

/*
*
Banner Section
*
*/

.banner {
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,255,255,0.6)), url("images/header_photo.jpg") no-repeat top;
  background-size: cover;
  background-position-y: 50%;
  padding: 8em 0 3em 8em;
  position: relative;
}

.banner__title {
  font-weight: 900;
  color: #e75152;
}

.banner__text {
  font-weight: 400;
  color: #2e2e2e;
  padding: 1em 0;
  max-width: 22em;
}

.banner__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2em;
  padding-left: 1em;
  width: 120px;
  height: 25px;
  border: 2px solid #e75152;
  color: #595858;
  font-weight: 700;
  /* text-align: center;
  text-align-last: center; */
  background: url("images/Vector_down_arrow_link.svg") no-repeat right;
  background-color: rgba(255,255,255,0.5);
  -webkit-appearance:none;
  -moz-appearance:none;
}